MoneyManager/obj/Debug/ 
*.user
MoneyManager/bin/
MoneyManager/bin/Debug/
*.config
obj/
bin/
MoneyManager.ServiceBusServices/bin/
MoneyManager.ServiceBusServices/obj/
Data.txt


/.vs/MoneyManager/v15/Server/sqlite3
/.vs/MoneyManager/v16/Server/sqlite3
